{% extends 'layout.html.twig' %}
{% block title %}Passer en Admin
{% endblock %}
{% block content %}
	<h1>passer en admin l'utilisateur
		{{user.pseudo}}:</h1>
	<h3>Veuillez saisir le code secret pour confirmer l'action:</h3>
	{{ form(formAdmin) }}{% endblock content %}
