{% extends 'layout.html.twig' %}
{% block title %}Hello HomeController!
{%
endblock %}
{% block content %}
	<div class="row mt-5">
		<h1>Bienvenue sur le site Randeros!</h1>
		<br>
		<h2>Introduction:</h2>
		<div>
			<p>
				Id labore nisi ad sunt sunt qui tempor dolor nostrud. Eiusmod exercitation
																																																																																																																									occaecat exercitation anim ullamco consectetur pariatur irure. Commodo
																																																																																																																									exercitation dolor sit id sit laborum sint. Amet tempor eiusmod occaecat
																																																																																																																									voluptate non et nostrud excepteur sint dolore amet laboris consectetur.
																																																																																																																									Cupidatat veniam veniam consectetur consequat cillum commodo labore est
																																																																																																																									eiusmod elit ipsum ipsum laborum dolor. Consequat proident excepteur commodo
																																																																																																																									ex aliquip amet ullamco nisi proident dolore. Sint esse anim et excepteur
																																																																																																																									magna ad minim occaecat ut. Fugiat proident adipisicing eu sunt tempor.
																																																																																																																									Adipisicing non adipisicing sunt Lorem reprehenderit culpa.
			</p>

			<p>
				Cupidatat irure occaecat aliqua nulla cupidatat amet nulla quis nisi
																																																																																																																									occaecat labore esse pariatur anim. Culpa do pariatur commodo occaecat ipsum
																																																																																																																									ad veniam sunt ullamco tempor. Eu adipisicing exercitation pariatur nulla
																																																																																																																									consectetur non sunt sint pariatur ipsum enim irure in. Esse aute commodo
																																																																																																																									deserunt mollit mollit voluptate consequat commodo consequat eiusmod
																																																																																																																									cupidatat laborum dolor. Anim nisi nulla minim reprehenderit nulla in anim
																																																																																																																									culpa ut mollit esse laboris dolore. Labore laboris qui sint est consequat
																																																																																																																									et. Consequat officia consequat tempor fugiat officia elit sit velit mollit
																																																																																																																									elit quis adipisicing sunt. Anim anim aliqua qui id eu ullamco Lorem sit
																																																																																																																									anim do. Anim aute aliqua tempor ad sunt laborum culpa. Ea labore mollit
																																																																																																																									veniam labore cillum deserunt qui incididunt proident duis magna aliqua
																																																																																																																									dolor duis. Adipisicing quis ea ipsum sit et minim id. Elit eiusmod sunt
																																																																																																																									aute ad ipsum commodo excepteur Lorem fugiat esse. Adipisicing anim anim est
																																																																																																																									irure ex in ea. Ullamco ea non ut Lorem nostrud nisi ex labore ullamco aute
																																																																																																																									commodo. Veniam aute eu qui laborum nostrud laboris mollit cupidatat officia
																																																																																																																									ullamco sit voluptate. Est id voluptate esse ut irure. Dolor id qui tempor
																																																																																																																									qui labore. Ullamco laborum in eu fugiat veniam aliquip reprehenderit tempor
																																																																																																																									incididunt consectetur commodo pariatur officia mollit. Ex pariatur sint ea
																																																																																																																									id. Lorem laborum ex cillum laboris minim excepteur dolore ipsum qui enim
																																																																																																																									amet reprehenderit.
			</p>

			<p>
				Exercitation culpa eu ullamco ut cupidatat dolore eiusmod sint. Consequat
																																																																																																																									proident id consectetur id laboris. Proident proident id commodo officia
																																																																																																																									nulla aliqua esse labore. Exercitation minim occaecat enim tempor cupidatat
																																																																																																																									aute magna est ipsum quis in qui. Exercitation sit eu enim aute est quis
																																																																																																																									tempor amet nisi laborum ad ipsum. Duis veniam ipsum ut eiusmod aliquip
																																																																																																																									excepteur dolore commodo ad sit esse Lorem consequat non. Nisi consectetur
																																																																																																																									adipisicing nulla occaecat pariatur excepteur pariatur veniam. Et nostrud
																																																																																																																									consectetur pariatur sunt duis elit incididunt dolor mollit mollit commodo
																																																																																																																									elit. Eu et consectetur culpa sint aliqua occaecat. Laboris dolore aliquip
																																																																																																																									exercitation laborum ex non occaecat exercitation mollit elit id magna. Amet
																																																																																																																									eu esse occaecat cillum reprehenderit non est eu ullamco mollit. Sit dolor
																																																																																																																									sunt exercitation eiusmod deserunt do mollit veniam labore pariatur
																																																																																																																									cupidatat cillum labore. Eiusmod pariatur magna elit aute esse est labore
																																																																																																																									laboris consequat culpa commodo. Elit Lorem voluptate aliquip mollit elit ut
																																																																																																																									esse magna amet cupidatat. Velit quis non sunt ex excepteur ad eu anim. Non
																																																																																																																									veniam ea veniam elit nisi. Do quis ipsum Lorem ad non. In culpa et pariatur
																																																																																																																									consectetur irure nulla culpa minim ut quis duis eiusmod. Enim deserunt non
																																																																																																																									eu ipsum et qui sunt Lorem non irure aliquip occaecat ea. Minim non
																																																																																																																									consequat pariatur id culpa deserunt laboris consequat. Officia aliqua velit
																																																																																																																									aliquip eu. Ea amet occaecat occaecat aute ullamco mollit aliquip
																																																																																																																									consectetur laboris. Officia cillum labore anim nisi enim non voluptate
																																																																																																																									reprehenderit.
			</p>
		</div>
		<div class="row my-auto mx-auto align-items-center texte-center" style="height: 70vh">
			{% for categorie in categories %}
				<div class="card m-3" style="width: 20rem;">
					<div class="card-body">
						<img class="card-img-top" src="{{asset('photosArticles/' ~ categorie.photo)}}" alt="Card image cap">
						<h5 class="card-title text-uppercase text-info">

							{{ categorie.nom }}</h5>
						<p class="card-text">
							{{ categorie.contenu| slice(0, 250) }}
						</p>
						<a href="{{ path( 'categorie_show',{id: categorie.id} )}}">
							<i class="fa fa-eye mx-2 text-info"></i>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock content %}

