{% extends "layout.html.twig" %}

{% block title %}
	Terms
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="center text-center">
			<img src="/image/randeros5.jpg" class="img-fluid rounded-bottom" width="480" height="350" alt="paysage">
			<h2 class="text-primary">
				{% trans %}Conditions générales d'utilisation{% endtrans %}
			</h2>
		</div>
		<ol>
			<li>{% trans %}L'auteur ne peut être tenu responsable d'une mauvaise utilisation de ce site. Les éléments apportés sont purement informatifs. {% endtrans %}</li>
			<li>{% trans %}Tous les tunnels des galeries comportent des	dangers mortels comme les gaz ou les écroulements. Depuis l'accident tragique de 2007 dans une galerie de Los Silos, toutes les entrées de tunnels sont fermées par des grilles ou totalement condamnées et comportent un panneau décrivant la galerie et rappelant les dangers mortels.
			{% endtrans %}</li>
		</li>
		<li>{% trans %}Tous les ouvrages de captation d'eau à Tenerife sont privées.{% endtrans %}</li>
	</ol>
</div>{% endblock content %}
