{% extends "layout.html.twig" %}

{% block title %}
	contact
{% endblock %}

{% block content %}

	<div class="row d-flex justify-content-center text-left">
		<div class="card border-dark mb-3" style="max-width: 20rem;">
			<div class="card-header">Nous contacter</div>
			<div class="card-body">
				<h4 class="card-title">Vous pouvez nous contacter par email</h4>
				<p class="card-text">admin@gmail.com</p>
			</div>
		</div>
	</div>
{% endblock content %}
