{% extends "layout.html.twig" %}

{% block title %}
	Contact
{% endblock %}

{% block content %}
	<div class="container fluid text-center">
		<img src="/image/randeros2.jpg" class="img-fluid rounded-bottom" width="480" height="350" alt="paysage">
		<h2 class="text-primary">{{ 'Vous pouvez nous contacter par e-mail' | trans }}</h2>
		<h4 class="text-success">{{ 'Nous nous ferons un plaisir de vous répondre dans les plus brefs délais' | trans }}</h4>
		<h2>
			<address class="address text-primary">teneriferanderos@gmail.com</address>
		</h2>
		<img src="/image/logo.jpg" class="img-fluid" width="160" height="100" alt="paysage">
	</div>
{% endblock content %}
