{% extends "layout.html.twig" %}

{% block title %}
	liens
{% endblock %}

{% block content %}
<h1>Liens utiles</h1>

	<div class="list-group">
		<a href="#" class="list-group-item list-group-item-action active">Adresse1</a>
		<a href="#" class="list-group-item list-group-item-action">Adresse2</a>
		<a href="#" class="list-group-item list-group-item-action disabled">Adresse3</a>

	</div>

{% endblock content %}
