{% extends "layout.html.twig" %}

{% block title %}
	About us
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="center text-center">
			<img class="img-fluid rounded-bottom" width="480" height="350" src="/image/randeros3.jpg" alt="paysage"/>
			<h1 class="text-primary">{{ 'Qui sommes-nous?' | trans }}
			</h1>
		</div>
		<p>{% trans %}A la fin de nos vacances à Tenerife en 2011, nous avons décidé de venir nous y installer plus tard. Aujourd'hui c'est chose faite et, comme randonneurs chevronnés, nous pouvons apprécier chaque jour les innombrables richesses de cette île.{% endtrans %}
		</p>
		<p>{% trans %}Au delà des paysages magnifiques, des côtes de l'océan, des monts et des barrancos, jusqu'au  sommet du Teide, nous nous interessons à un sujet très important pour une île volcanique qui ne possède ni fleuve, ni rivière : l'eau.{% endtrans %}
		</p>
		<p>{% trans %}Ainsi depuis plusieurs mois, nous partons chaque semaine, un peu partout dans l'île, à la rencontre des galeries d'eau qui fournissent depuis plus d'un siècle, et encore aujourd'hui la majeure partie de l'approvisionement de Tenerife.{% endtrans %}
		</p>
		<p>{% trans %}Ce site a pour objectif de partager nos découvertes et de comprendre ce qui se passe en amont des robinets d'eau de nos habitations{% endtrans %}
		</p>
	</div>
{% endblock content %}
