{% extends "layout.html.twig" %}

{% block title %}
	show categorie user
	{{categorie.nom }}
{% endblock %}

{% block content %}
	<div class="row d-flex justify-content-center text-center">
		<h3 class="text-uppercase text-info">
			{{ categorie.nom }}</h3>
		<div class="card" style="width: 50rem;">
			<img class="d-block rounded w-100 vh-50" src="{{asset('photosArticles/' ~ categorie.photo)}}" alt="Card image cap">

			<div class="card-body">
				<p class="card-text">{{ categorie.contenu }}
				</p>
			</div>
		</div>
	</div>
{% endblock content %}
