{% extends "layout.html.twig" %}
{% block title %}
	error 403
{% endblock %}
{%
block content%}

<div class="m-5 p-5 text-center alert alert-danger">
	<h4>{% trans %}Vous n'avez pas les droits pour accèder à cette page! {% endtrans %}</h4>
	<p>
	{% trans %}Contactez l'administrateur du site!{% endtrans %}
	</p>
</div>{% endblock content%}
